<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTOS</title>
    <link rel="stylesheet" type="text/css" media="screen" href="Eventos/eventos.css">
    <link rel="stylesheet" href="https://use.typekit.net/ltx2luq.css">

</head>

<body>
<!-- HEADER -->
<header>
    <a href="/InicioU" class="header-left">
        <img src="../IMG/eventify-logo.png" alt="Eventify Logo" class="header-logo">
        </a>


        <div class="header-right">
                <li class="opciones-menu-header">
                <a>EVENTOS</a>
                <ul class="sub-menu-header">
                    <li class="opciones-submenu-header"><a href="/EventosFiestas">FIESTAS</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosDeportes">DEPORTES</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosConciertos">CONCIERTOS</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosExposiciones">EXPOSICIONES</a></li>
                    <li class="opciones-submenu-header"><a href="/EventosGastronomia">GASTRONOMÍA</a></li>
       
                </ul>
                </li>
            <a href="/Nosotros.html">NOSOTROS</a>
            <a href="/MiPerfilU">MI PERFIL</a>
   
        </div>


<form>
    <div class="search">
        <img src="../IMG/searchh.png" alt="Buscar" width="30rem">
        <input class="search-input" type="search" placeholder="BUSCAR">
    </div>
</form>
</header>
        <h1>EVENTOS</h1>

        
        <div class="proximos-eventos">
            <% eventos.forEach(evento => { %>
                <div class="container-evento">
                    <a href="/InformacionEvento/<%= evento.titulo %>">
                        <img src="/uploads/<%= evento.foto %>" alt="<%= evento.titulo %>" class="imagen-evento" width="300rem" height="380rem">
                        <h4><%= evento.titulo %></h4>
                        <div class="info-evento">
                            <div class="info-item">
                                <p>📅</p>
                                <p class="info-p"><%= new Date(evento.fecha).toLocaleString('es-CR', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %></p>
                            </div>
                            <div class="info-item">
                                <p>📍</p>
                                <p class="info-p"><%= evento.lugar %></p>
                            </div>
                        </div>
                    </a>
                </div>    
            <% }) %>
        </div>
          

        <footer>
        <div class="footer-container">
            <div class="footer-left">
                <span class="footer-logo">EVENTIFY</span>
            </div>
          <div class="footer-center">
            <a href="/TerminosCondiciones">Términos y condiciones</a>
            <a href="/Soporte">Ayuda</a>
            <a href="/PoliticaPrivacidad">Política de Privacidad</a>
            <a href="/Contacto">Contáctanos</a>
          </div>
          <div class="footer-right">
            <a href="https://www.facebook.com" target="_blank" class="social">Facebook</a>
           
            <a href="https://www.instagram.com" target="_blank" class="social">Instagram</a>
           
           <a href="https://www.twitter.com" target="_blank" class="social">Twitter</a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>© 2024 Tropical Developers. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>